name: Docker Image CI
on:
  [workflow_dispatch]
jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build image
        run: docker build ./crimsotech_django/ -t pajiimarr/crimsotech_django:latest
      - name: push to docker hub
        run: |
          docker login -u pajiimarr -p ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push pajiimarr/crimsotech_django:latest